
body{
  background-image: url('/images/pexels-cottonbro-9665178.jpg');

}

.visualization-container {
  position: relative;
}

.visualizer-label {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 2vw;
  color: rgba(201, 20, 20, 0.8); /* Light and semi-transparent */
  font-weight: 700;
  pointer-events: none; /* Prevents interaction */
  z-index: 999;
  text-align: center;
  white-space: nowrap;
}


.visusaltion-api {
  display: flex; /* Enables flexible layout */
  flex-direction: column; /* Arrange elements (box and buttons) vertically */
  align-items: flex-start; /* Align items to the left */
  margin-left: 1.2vw; /* Start 20px from the left of the page */
  margin-top: 3.5vw; /* Add some space from the top of the page */
  width: calc(
    100% - 600px
  ); /* Ensure the block doesn't exceed the remaining width */
  height: auto;
}

/* Side-by-side wrapper */
.visualization-content {
  display: flex;
  width: 100%;
  height: 76.6vh; /* shared height for both sides */
  gap: 2rem;
}



.visualization-box {
  flex-grow: 0;
  height: 76.6vh;
  width: 100%;
  background-color: #343434;
  margin-bottom: 10px;
}

.visualizer-buttons {
  display: flex;
  gap: 15px;
}

.button-visualizer,
.parse-graph-button {
  padding: 8px 20px; /* Adds spacing inside the button */
  border: none; /* Removes default border */
  cursor: pointer; /* Changes cursor to pointer on hover */
  background-color: #0f1115; /* Sets the button background color */
  color: white; /* Sets the text color to white */
  border-radius: 5px; /* Adds rounded corners */
  font-size: 16px; /* Sets font size */
  font-weight: bold; /* Makes the text bold */
  transition: background-color 0.3s ease, transform 0.4s ease; /* Smooth hover effect */
}

.button-visualizer:hover,
.parse-graph-button:hover {
  background-color: #1c222d; /* Slightly darker shade for hover */
  transform: scale(1.05); /* Slightly enlarges button on hover */
  color: #e2e8f0; /* Change text color on hover (optional) */
}

.visualization-container {
  margin-top: 20px; /* Adjust based on navbar height */
  display: flex;
  margin-left: 20px;
}





@media (max-width: 768px){

  body {
  overflow: auto !important;
  position: static !important;
  height: auto !important;
}

   
   .visualization-container{
     flex-direction: column;
     align-items: stretch;
   }

   .visualizer-label{
     top: 50px;
     font-size: 20px;
   }


   .visualization-box{
      align-self: stretch;
      background-color: #343434;
   }

   .visualizer-buttons{
     gap: 5px;
   }

   .visualizer-buttons button{
     flex-wrap: wrap;
     max-width: fit-content;
   }

   


 
}

  



