/* Navbar Container */
.navbar {
  display: flex;
  justify-content: flex-start;
  align-items: center; /* vertically center buttons if needed */
  width: fit-content; /* shrink to content size */
  padding: 10px;
}


/* Button Styles */
.nav-button {
  background-color: transparent; /* No background */
  color: white; /* White text */
  padding: 10px 15px;
  font-size: 14px;
  font-family: "Arial", sans-serif;
  font-weight: bold;
  cursor: pointer;
  text-align: center;
  border: none;
}

.nav-button:hover {
  color: #818181; /* Change text color on hover */
}