
.sidebar-theory-wrapper {
    width: 200px;
    background-color: #1c1a18;
    height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;
  }
  
  .go-back {
    position: sticky;
  }
.sidebar-container {
    height: auto; /* Ensures it fills the entire viewport height */
    width: 180px; /* Width of the sidebar */
    background-color: #1c1a18; /* Sidebar's background color */
    display: flex; /* Enables flexbox layout */
    flex-direction: column; /* Stack children vertically */
    justify-content: flex-start; /* Default alignment */
    padding-top: 60px; /* Adjust this value to move buttons lower */
    box-sizing: border-box; /* Includes padding in height calculations */
    max-height: 100vh; /* Or set a specific height like 600px */
    overflow-y: auto;
    scroll-behavior: smooth;
     overflow-x: hidden; /* prevents horizontal scroll */
}


.chapter-button, .subchapter-button{
    background-color: transparent; /* Button color */
    color: white;
    border: none;
    padding: 10px;
    margin-bottom: 8px; /* Space between buttons */
    text-align: left; /* Align text to the left */
    cursor: pointer; /* Change cursor on hover */
    font-size: 15px;
    border-radius: 5px; /* Optional: make buttons look smoother */
    width: 90%; /* Ensure buttons don’t take the full width */
    align-self: center; /* Center the buttons horizontally */
    font-family: 'Arial', sans-serif;
    font-weight: 600; /* Bold text */
    
}

.chapter-button:hover, .subchapter-button:hover{
    background-color: #313131; /* Highlight button on hover */
}

.subchapter-container {
    margin-left: 38px;
    width: 90%;
    max-height: 0; /* Initially hidden */
    overflow: hidden; /* Prevent content from spilling out */
    opacity: 0; /* Fully transparent initially */
    transition: max-height 0.6s ease, opacity 0.3s ease; /* Smooth transition */
}

.subchapter-container.expanded {
    max-height: 500px; /* Arbitrary large value to ensure all subchapters fit */
    transition-duration: 1s;
    opacity: 1; /* Fully visible */
}

.subchapter-content {
    display: flex;
    align-items: center; /* Aligns dot and text vertically */
    gap: 4px; /* Space between the dot and text */
}

.dot-icon {
    font-size: 10px; /* Adjust dot size if needed */
    margin-top: -2px; /* Fine-tune vertical alignment */
    margin-left: -4px; /* Fine-tune horizontal alignment */
}


