.adjacency-animation-container{
  display: flex;

}

.adjacency-animation {
    background-color: #343434;
    border: 3px solid #252525;
    height: 300px;
    width: 600px;
    border-radius: 10px;
  }
  
  .matrix-dark {
    background-color: #1e1e1e;
    padding: 10px;
    border-radius: 10px;
  }
  
  .matrix-dark button {
    width: 40px;
    height: 40px;
    font-weight: bold;
    font-size: 14px;
    color: #ffffff;
    background-color: #2a2a2a;
    border: 1px solid #444;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
  }
  
  .matrix-dark button.active {
    background-color: #4caf50;
  }


@media (max-width: 732px) {
  .adjacency-animation-container{
    flex-direction: column;
  }

  .matrix-container{
    margin-left: 10px;
    margin-right: 10px;
    width: auto;
    height: auto;
  }

  .adjacency-animation {
    width: calc(100%) !important; 
    margin: 5px !important;              
    height: 300px;            
  }
}
  