/* Navbar Container */
.navbar-visualizer-tool {
  left: 0px;
  top: 0px;
  gap: 10px; /* Space between buttons */
  padding: 10px; /* Small padding for aesthetics */
  background-color: transparent; /* No background */
  position: fixed; /* Fix at the top */
  white-space: nowrap; /* Prevents wrapping of buttons */
}

